body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(178,207,244);
    background: radial-gradient(circle, rgba(178,207,244,1) 0%, rgba(110,110,110,1) 93%); 
}

.mainContent{
    text-align: center;
}


h1{
    color: rgb(26, 76, 103);
    margin-bottom: 50px;
    margin-top: 20px;
}

#spanSelfie{
    color: rgb(26, 76, 103);
}

.form-group label{
    font-size: 18px;
}

.form-group textarea{
    border: none;
    border-radius: 5px;
    background-color: rgba(131, 145, 188, 0.68);
    margin: 20px 0;
    font-size: 25px;
    text-align: center;
    vertical-align: center;
}

.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #4fa9e4, #2d76bb);
    color: ghostwhite;
    overflow: hidden;
   }

   .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
   }

   .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
   }

   .cssbuttons-io::before,
   .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }

   .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }

   .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
   }

   .cssbuttons-io:active {
    transform: scale(0.95);
   }

   #webcam{

    height: 250px;

    border: 2px solid rgba(101, 136, 240, 0.68);
   }